body{
    margin:0;
    text-align: center;
    font-family:'Merriweather',serif;
    background-color:#CDF0EA; 
}
h1{
    margin:0 auto 20 auto;
    font-family: 'Cedarville Cursive',cursive;
}
h2{
    margin-bottom:50px
}
h3{
    margin-bottom:0;
    color:blue ;
}
.hi{
    margin-bottom:0;
}
.top{
    margin-top:40px;
    position: relative;
    left:150px;
}
.pic{
    width:175px;
}
.bottom
{
    position:absolute;
}
p{
    margin:0 auto 0 auto;
}
.pic2
{
    width:25%;
    float:left;
    position:relative;
    left:350px;
    bottom:10px
}
.pic3
{
    width:25%;
    float:right;
    position:relative;
    right:350px;
    
}
.skill-row{
    width:50%
    margin:100 0 100 0;
    text-align:left;
    line-height:2
}
.halo
{
    position:relative;
    left:500px
}
.halo2
{
    position:relative;
    left:250px;
}
